<%- include("../partials/header") %>

<body class="duka">
    <div id="container">
        <form action= "/" method= "get">
        <br>
        <input id="tuwo"  type="email" type= "email" placeholder="Email-Address" required>
        <br>
        <br>
        <input id="tuwo" type="password" type= "password" placeholder="Password" required>
        <br>
        <br>
        <button id="wake" class="btn btn-success">submit</button>
        <br>
        <br>
        <br>
        <p id="aya">If you don't have account register<a href="/register"> here</a> </p>
        </form>
    </div>
</body>

<%- include("../partials/footer") %>
