<%- include("../partials/header") %>
<div class="jiki">
    <div class="post">
        <div class="date">March 15 2021</div>
    <h2 id="oho">U.I. Dutse Computers Articles</h2>
    <p class="qoute">All news and update of this prestigious computer center would be communicated here,
        and we are going to be updating the calender as soon as possible when the need arises,
        so with this i am going to recommend each and every member to be always visiting the site
        for more updates. thank you.
    </p>
    <p>As you know each and every moments came with good or bad feelings, so with this i am urging all of
        you to put this on your minds, that personal achievement is a gift from God, and whatever a person becames,
        is a gift to his community. always respect each other as time would come that all we are going to die and
        root away on the body of the earth.
    </p>
    <p>All you need to do is always having a consistance in whatever you are doing as if you have a goal you can 
        achieve no matter what the case is, so let make it the last paragraph on this body.
    </p>
    </div>
    <div class="post">
        <div class="date">February 15 2021</div>
    <h2>U.I. Dutse Computers Articles</h2>
    <p class="qoute">We are going to be using the U.I. Dutse Computers Articles from this day of start and we are
        so happy that you like all our services that we use to offer to you, we remain grateful to your our loyal
        customers that whatever the case may be you are always with us. so this is a heart felt recommendation to 
        you all for the trust you have on us.
    </p>
    <p>As you know each and every moments came with good or bad feelings, so with this i am urging all of
        you to put this on your minds, that personal achievement is a gift from God, and whatever a person becames,
        is a gift to his community. always respect each other as time would come that all we are going to die and
        root away on the body of the earth.
    </p>
    <p>All you need to do is always having a consistance in whatever you are doing as if you have a goal you can 
        achieve no matter what the case is, so let make it the last paragraph on this body.
    </p>
    </div>
</div>

<%- include("../partials/footer") %>