<%- include("../partials/header") %>

<div class="container mt-4">
    <h1 id="daban" class="bg-success" style="text-align: center; color:white;">Welcome to your Dashboard!!!</h1>
    <div class="row">
        <div>
            <div class="d-flex justify-content-center">
                <img src="/stylesheets/kashifu.jpg" class="namu"> 
            </div>
            <p></p>
            <div class="d-flex justify-content-center">
                <p>You are welcome to your dashboard where you can find all of your activities</p>
            </div>
        </div>   
    </div>
</div>

<%- include("../partials/footer") %>